@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body::before {
    content: '';
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 186, 201), rgb(162, 224, 248));
    clip-path: circle(30% at right 70%);
}

/* .inner2 {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
} */
.footer2 {
    margin-top: 15px;
    box-sizing: border-box;
    position: relative;
    max-width: 980px;
    justify-content: center;
    bottom: 0;
    border-top: 1px solid #0579fe4d;
    height: 80px;
    padding: 10px;
    background: none;
    overflow: hidden;
}
.footer2 .footer_center li {
    width: 25%;
    box-sizing: border-box;
    position: relative;
    font-size: 6px;
    color:#0578FE;
    font-weight: bold;
    padding: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    background: none;
}
.container2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  linear-gradient(rgb(162, 224, 248), rgb(45, 132, 247));
    clip-path: circle(20% at 10% 10%);
}

.container2 {
    padding: 0;
    margin: 0 auto;
    margin-top: 80px;
}

@media screen and (min-width: 581px) {
    .tiles ul {
        list-style: none;
    }
    .tiles .inner {
      max-width: 980px;
      margin: 0 auto;
      box-sizing: border-box;
      position: relative;
    }
    .tiles li {
      padding: 34px 10px;
      text-align: center;
      line-height: 1.5;
      box-sizing: border-box;
      float: left;
      width: 33%;
    }
    .tiles li .card {
        width: 80%;
        height: 48vh;
        margin-left: 20px;
        box-shadow: 20px 20px 50px rgba(43, 93, 160, 0.3);
        border-radius: 15px;
        background: rgba(255,255,255,0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255,255,255,0.5);
        border-left: 1px solid rgba(255,255,255,0.5);
        backdrop-filter: blur(5px);
    }
    .inner li .card .content .cardlink:hover {
        color:#2196f3;
    }
}

.inner li .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
    pointer-events: none;
}
.inner li .card .content h3 {
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    z-index: 1;
    margin-bottom: 0.3em;
    font-family: 'GmarketSansMedium', sans-serif;
}
.inner li .card .content p {
    font-size: 0.6em;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-family: 'GmarketSansLight', sans-serif;
}
.inner li .card .content .cardlink {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff ;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 999;
}
.inner li .card .content {
    padding: 20px;
    text-align: center;
    opacity: 1;
    transition: 0.5%;
}



@media screen and (max-width: 580px) {
    .tiles ul {
        list-style: none;
    }
    .tiles ul {
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
    }
    .tiles ul li {
        padding: 34px 24px 8px 24px;
        text-align: center;
        line-height: 1.5;
        box-sizing: border-box;
        float: left;
        width: 100%;
    }
    .tiles ul li .card {
        width: 250px;
        height: 45vh;
        margin-top: 40px;
        margin-left: 25px;
        /* margin-bottom: 15px; */
        box-shadow: 10px 10px 30px rgba(43, 93, 160, 0.3);
        border-radius: 15px;
        background: rgba(255,255,255,0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255,255,255,0.5);
        border-left: 1px solid rgba(255,255,255,0.5);
        backdrop-filter: blur(5px);
    }
    .footer2 {
        margin-top: 15px;
        box-sizing: border-box;
        position: relative;
        width: 300px;
        height: 150px;
        justify-content: center;
        border-top: 1px solid #0579fe4d;
        padding: 0px;
        background: none;
        margin: 0 auto;
        text-align:right;
    }
    .footer2 .footer_center li {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        font-size: 6px;
        color:#0578FE;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        padding-bottom: 2px;
    }
    
}



.linkTab {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}
.linkTab .smLink {
    position:relative;
    display: inline-block;
    font-family: 'GmarketSansLight';
    color: #2196f3;
    padding: 8px 20px;
    margin-top: 15px;
    text-decoration: none;
    justify-content: center;
    font-size: 10px;
    margin-bottom : 40px;
}
.smLink:hover {
    color: #e91e63;
}






















@keyframes p1 {
    0% {
        left: 800px;
        top: 0px;
    }
    50% {
        left: 0px;
        top: 800px;
    }
    100% {
        left: 800px;
        top: 0px;
    }
}
@keyframes p2 {
    0% {
        left: 0px;
        top: 100px;
    }
    50% {
        left: 0px;
        top: 800px;
    }
    100% {
        left: 0px;
        top: 100px;
    }
}
@keyframes p3 {
    0% {
        left: 300px;
        top: 900px;
    }
    50% {
        left: 500px;
        top: 0px;
    }
    100% {
        left: 300px;
        top: 900px;
    }
}
@keyframes p4 {
    0% {
        left: 1000px;
        top: 500px;
    }
    50% {
        left: 0px;
        top: 500px;
    }
    100% {
        left: 1000px;
        top: 500px;
    }
}
@keyframes p5 {
    0% {
        left: 500px;
        top: 1000px;
    }
    50% {
        left: 50%;
        top: 0px;
    }
    100% {
        left: 500px;
        top: 1000px;
    }
}
@keyframes p6 {
    0% {
        left: 500px;
        top: 200px;
    }
    50% {
        left: 50%;
        top: 70%;
    }
    100% {
        left: 500px;
        top: 200px;
    }
}
@keyframes p7 {
    0% {
        left: 50px;
        top: 10%;
    }
    50% {
        left: 50%;
        top: 10%;
    }
    100% {
        left: 50px;
        top: 10%;
    }
}
@keyframes p8 {
    0% {
        left: 0px;
        top: 20%;
    }
    50% {
        left: 50%;
        top: 20%;
    }
    100% {
        left: 0px;
        top: 20%;
    }
}
@keyframes p9 {
    0% {
        left: 1000px;
        top: 100px;
    }
    50% {
        left: 500px;
        top: 950px;
    }
    100% {
        left: 1000px;
        top: 100px;
    }
}
.points {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    margin: 0 auto;
    float: left;
    height: 100%;
    z-index: 0;
}
.point {
    border-radius: 50%;
    z-index: 999;
    position: absolute;
}
.point-floating-1 {
    background-color: #f4bbe3;
    height: 10px;
    width: 10px;
    position: relative;
    animation-name: p1;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}
.point-floating-2 {
    background-color:#0000cc;
    height: 10px;
    width: 10px;
    position: relative;
    animation-name: p2;
    animation-duration: 90s;
    animation-iteration-count: infinite;
}
.point-floating-3 {
    background-color: #65d5fa;
    height: 5px;
    width: 5px;
    position: relative;
    animation-name: p3;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}
.point-floating-4 {
    background-color: #f09536;
    height: 8px;
    width: 8px;
    position: relative;
    animation-name: p4;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}
.point-floating-5 {
    background-color: #f7d448;
    height: 8px;
    width: 8px;
    position: relative;
    animation-name: p5;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}
.point-floating-6 {
    background-color: #f4bbe3;
    height: 8px;
    width: 8px;
    position: relative;
    animation-name: p6;
    animation-duration: 70s;
    animation-iteration-count: infinite;
}
.point-floating-7 {
    background-color: #65d5fa;
    height: 10px;
    width: 10px;
    position: relative;
    animation-name: p7;
    animation-duration: 70s;
    animation-iteration-count: infinite;
}
.point-floating-8 {
    background-color: #f09536;
    height: 6px;
    width: 6px;
    position: relative;
    animation-name: p8;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}
.point-floating-9 {
    background-color: #f7d448;
    height: 12px;
    width: 12px;
    position: relative;
    animation-name: p9;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}