@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');} 
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}




body {
    font-family: 'GmarketSansLight';
    margin: 0;
    padding: 0;
    width: 100%;
    background: #f9fafe;
}

.inner {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 980px;
    margin-left: 20px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

.inner .main__banner {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    margin-top: 130px;
    margin-bottom: 30px;
    padding-bottom: 25px;
    font-size: 37px;
    color: #626262;
    text-shadow: 0px 2px 2px rgba(41, 38, 31, 0.2);
    border-bottom: 1px solid #3c4146;
}

.classTab {
    max-width: 780px;
    position: relative;
    height: 35px;
    padding: 10px;
    padding-left: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 30px;
}
.classTab li {
    display: flex;  
    box-sizing: border-box;
    float: left;
    width: 33%;
}
.classTab li a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;
    text-shadow: 0px 2px 2px rgba(41, 38, 31, 0.2);
    color:#0578FE;
}

.inner .banner {
    font-family: 'GmarketSansMedium';
    display: block;
    padding: 35px;
    font-size: 40px;
    border-bottom: 1px solid #c4c4c4;
}

.inner .major_title_1 {
    font-family: 'GmarketSansLight';
    padding-top: 30px;
    font-size: 12px;
    line-height: 41.02px;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
.inner .major_title_2 {
    font-family: 'GmarketSansMedium';
    display: block;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 550;
    text-shadow: 0px 6px 8px rgba(0,0,0,0.25);
}
.inner .major_title_3 {
    font-family: 'GmarketSansLight';
    display: block;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 40px;
    font-size: 15px;
    font-weight: lighter;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.inner .summary__title {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 1em;
}

.inner p {
    padding: 6px;
    margin: auto;
    max-width: 780px;
}
.inner .summary__description {
    display: block;
    font-size:14px;
    color: #626262;
    padding: 10px 10px 70px 10px;
}
.inner .summary__description span {
    color: #000000;
}


.inner .tiles {
    margin: 0 auto;
    margin-bottom: 20px;
    height: 1500px;
}
.inner .tiles li {
    list-style-type : none;
    border-radius: 15px;
    background: #ffffff;
    padding: 18px 10px;
    text-align: center;
    line-height: 1.5;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;
    float: left;
    width: 23%;
    height: 290px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px 1px rgba(47, 76, 207, 0.2);
}
.inner .tiles li:last-child {
  border-right: none;
}
.inner .tiles li img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 5px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid rgba(41, 38, 31, 0.2);
  box-shadow: 1px 1px 5px 1px rgba(47, 76, 207, 0.2);
}
.inner .tiles li h3 {
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
}
.inner .tiles li p {
  font-size: 10px;
  margin-bottom: 4px;
  color: #767676;
}
.inner .tiles .majordiv {
    display: inline-block;
    background: #eaeefd;
    color: #0578FE;
    font-size: 10px;
    font-weight: 500;
    padding: 3px 8px 3px 8px;
    border-radius: 4px;
    margin: 8px 13px 3px 13px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(121, 137, 207, 0.2);
}
.inner .tiles table {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #c2c8df8f;
    border-collapse: collapse;
}
.inner .tiles .line {
    width: 100%;
    margin-top: 25px;
    border-top: 1px solid #c2c8df8f;
    border-collapse: collapse;
}
.inner .tiles .td1 {
    border-right: 1px solid #c2c8df8f;
    padding: 12px;
    width: 45%;
    font-size: 11px;
}
.inner .tiles .td2 {
    width: 45%;
    font-size: 11px;
}






@media screen and (max-width: 580px) {
    .inner {
        padding-left: 12px;
        padding-right: 0px;
        margin: 0 auto;
    }
    .inner .tiles {
        padding: 0;
        margin: 0 auto;
        margin-left: 15px;
        height: 300vh;
    }
    .classTab {
        margin-bottom: 15px;
    }
    .classTab li a {
        font-size: 11px;
        font-weight: 300;
    }
    .inner .main__banner {
        position: relative;
        margin: 0 auto;
        max-width: 700px;
        margin-top: 130px;
        margin-bottom: 15px;
        font-size: 37px;
        color: #626262;
        text-shadow: 0px 2px 2px rgba(41, 38, 31, 0.2);
        border-bottom: 1px solid #3c4146;
    }

    .inner .major_title_1 {
        padding-top: 8px;
        font-size: 12px;
        font-weight: bold;
    }
    .inner .major_title_2 {
        font-size: 36px;
        font-weight: 550;
        text-shadow: 0px 6px 8px rgba(0,0,0,0.2);
    }
    .inner .major_title_3 {
        font-size: 13px;
        font-weight: 200;
        text-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    }

    .inner .tiles li {
        background: #ffffff;
        padding: 15px 8px;
        width: 46%;
        height: 240px;
        margin-bottom: 10px;
    }
    .inner .tiles li img {
      width: 68px;
      height: 68px;
    }
    .inner .tiles li h3 {
        font-size: 15px;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 2px;
    }
    .inner .tiles li p {
      padding: 2px;
      margin-bottom: 0px;
    }
    .inner .tiles .majordiv {
        font-weight: lighter;
        font-size: 8px;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        padding: 4px 6px 4px 6px;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 8px;
    }
    .inner .tiles table {
        margin-top: 5px;
    }
    .inner .tiles .line {
        width: 100%;
        margin-top: 20px;
        border-top: 1px solid #c2c8df8f;
        border-collapse: collapse;
    }
    .inner .tiles .td1 {
        border-right: 1px solid #c2c8df8f;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px;
        width: 45%;
        font-size: 7px;
    }
    .inner .tiles .td2 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 45%;
        font-size: 7px;
        font-weight: lighter;
    }

    /* .footer .footer_center li{
            width: 100%;
            margin: 0 auto;
            text-align: center;
        } */
}