@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  .footer{
      margin-top: 100px;
  }
 .clubCont {
    margin: 0;
    margin-top: 90vh;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'GmarketSansLight';
    background: #fff;
    background: radial-gradient(ellipse at center, rgba(70,70,70,0) 0%, rgba(70,70,70,0.05) 40%, rgba(70, 70, 70, 0.15) 50%);
    overflow: hidden;
    transform-style: preserve-3d;
  }
  input[type='radio'],
  .hide {
    display: none;
  }
  input[type='radio']:checked + section {
    top: 0;
  }
  /*과별 설명 선택시 100프로로 보이는것 사이드를 좀 남겨봤음*/
  .container {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 80vh;
    top: 30px;
    transition: all 500ms;
    transform-style: preserve-3d;
  }
  .container section {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100vh;
    transition: top 500ms;
    transform-style: preserve-3d;
  }
  .soluxH{ text-shadow: 2px 4px 2px rgb(125, 125, 125);}
  .sissH{ text-shadow: 2px 4px 2px rgb(120, 119, 119); }
  .appC{color:white}

  .container section.intro { background-color:rgb(184, 235, 133) ;}
  .container section.siss { background: rgb(247, 212, 72);}
  .container section.algos { background:rgb(255, 160, 43);}
  .container section.forza { background: rgb(98, 190, 247);}
  .container section.apps { background: rgb(31, 53, 225);}
  .container section.solux { background: rgb(244, 187, 227);}
  
  /* 학과 제목 쓰는거 아마 여기 h1말고 다른거 추가해서 내용 추가하면 될듯*/
  .container section h1 {
    margin: 0;
    font-size: 50px;
    font-family: 'GmarketSansMedium';
    text-shadow: 2px 4px 6px rgb(160, 160, 160); 
    transform: translate(0,15vh);
    text-align: center;
    color: rgba(255,255,255,0.85);
    transition: transform 500ms;
    transform-style: preserve-3d;
  }
  .container section .content{
    margin: 0;
    color: black;
    font-size: 1.4em;
    line-height: 1.4em;
    transform: translate(0,30vh);
    text-align: center;
    transition: transform 500ms;
    transform-style: preserve-3d;
  }
  .container section .content .content-bold{
    font-family: 'GmarketSansMedium';
    text-shadow: 1px 2px 2px rgba(186, 186, 186, 0.687); 
  }
  
  .container section label {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  
  .container section.intro { z-index: 100; }
  .container section.siss { z-index: 99; }
  .container section.algos { z-index: 98; }
  .container section.forza { z-index: 97; }
  .container section.apps { z-index: 96; }
  .container section.solux { z-index: 95; }
  
  #menu:checked + .container section.intro { top: 312px; }
  #menu:checked + .container section.intro:hover { top: 308px; }
  #menu:checked + .container section.siss { top: 252px; }
  #menu:checked + .container section.siss:hover { top: 248px; }
  #menu:checked + .container section.algos { top: 192px; }
  #menu:checked + .container section.algos:hover { top: 188px; }
  #menu:checked + .container section.forza { top: 132px; }
  #menu:checked + .container section.forza:hover { top: 128px; }
  #menu:checked + .container section.apps { top: 72px; }
  #menu:checked + .container section.apps:hover { top: 68px; }
  #menu:checked + .container section.solux { top: 12px; }
  #menu:checked + .container section.solux:hover { top: 8px; }
  
  /*메뉴 바 세개는 menu, menu::before, menu::after 로 이뤄짐 */
  .menu { 
    display: block;
    position: fixed;
    z-index: 10000;
    width: 35px;
    height: 4px;
    top: 140px;
    right: 6vw;
    transform: rotate(225deg);
    transition: all 200ms;
    transform-origin: center center;
    background: #646464;
  }
  .menu::after {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 4px;
    background: #646464;
    transition: all 200ms;
  }
  .menu::after {
    transform: rotate(90deg);
  }
  
  .menu:hover, 
  .menu:hover::after { background:rgb(150, 150, 150);}
  
  .menu div,
  .menu div label:nth-child(1) {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -6px;
  }
  
  /*동아리중 하나 선택되었을때 페이지 보이는 효과 +연산자는 자식 말고 옆의 연산자 의미*/
  #menu:checked + .container {
    transform: scale(0.65) translateY(-18%);
    transition: all 500ms;
    transform-style: preserve-3d;
  }
  #menu:checked + .container section {
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    transform-style: preserve-3d;
  }
  #menu:checked + .container section h1 {
    transform: scale(0.5);
    transform-style: preserve-3d;
  }
  
  #menu:checked + .container + .menu { display: none;}
  #menu:checked + .container + .menu::after { display: none;}
  #menu:checked + .container section .content{ display: none;}