@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  .footer{
      margin-top: 90px;
  }
 .clubCont {
    margin: 0;
    margin-top: 80vh;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'GmarketSansLight';
    background: #fff;
    background: radial-gradient(ellipse at center, rgba(70,70,70,0) 0%, rgba(70,70,70,0.05) 40%, rgba(70, 70, 70, 0.15) 50%);
    overflow: hidden;
  }
  input[type='radio'],
  .hide {
    display: none;
  }
  input[type='radio']:checked + section {
    z-index:1000;
  }
  /*구간 나눠서 반응형 해야함 한 1200px부터 다시 짜기*/
  .container {
    position: absolute;
    left: 20%;
    width: 60%;
    min-width: 700px;
    height: 80vh;
    top: 130px;
    transition: all 500ms;
    transform-style: preserve-3d;
  }
  .container section {
    position: absolute;
    width: 100%;
    height: 70vh;
    transition: top 500ms;
    transform-style: preserve-3d;
  }

  .container section.intro { background-color:#b6e3e9;}
  .container section.apps { background: #d9f1f1;}
  .container section.algos { background:#fadee1;}
  .container section.forza { background: #fdafab;}
  .container section.siss { background: #fad4ae}
  .container section.solux { background: #faf1d6;}
  
  /* 학과 제목 쓰는거 아마 여기 h1말고 다른거 추가해서 내용 추가하면 될듯*/
  .container section h1 {
    margin-top: 0px ;
    font-size: 50px;
    font-family: 'GmarketSansMedium';
    /* text-shadow: 2px 4px 6px rgb(160, 160, 160);  */
    transform: translate(0,15vh);
    text-align: center;
    color: rgba(26,42,97,0.9);
    transition: transform 500ms;
    transform-style: preserve-3d;
  }
  .container section .content{
    margin-top: -110px ;
    color: black;
    font-size: 1.4em;
    line-height: 1.4em;
    transform: translate(0,30vh);
    text-align: center;
    transition: transform 500ms;
    transform-style: preserve-3d;
  }
  .container section .content .content-bold{
    font-family: 'GmarketSansMedium';
    text-shadow: 1px 2px 2px rgba(186, 186, 186, 0.687); 
  }
  .container section label {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80vh;
  }
  
  .container section.intro { z-index: 100; }
  .container section.apps { z-index: 99; }
  .container section.algos { z-index: 98; }
  .container section.forza { z-index: 97; }
  .container section.siss { z-index: 96; }
  .container section.solux { z-index: 95; }
  
  #menu:checked + .container section.intro { top: 252px; }
  #menu:checked + .container section.intro:hover { top: 248px; }
  #menu:checked + .container section.apps { top: 192px; }
  #menu:checked + .container section.apps:hover { top: 188px; }
  #menu:checked + .container section.algos { top: 132px; }
  #menu:checked + .container section.algos:hover { top: 128px; }
  #menu:checked + .container section.forza { top: 72px; }
  #menu:checked + .container section.forza:hover { top: 68px; }
  #menu:checked + .container section.siss { top: 12px; }
  #menu:checked + .container section.siss:hover { top: 8px; }
  #menu:checked + .container section.solux { top: -52px; }
  #menu:checked + .container section.solux:hover { top: -68px; }
  
  /*메뉴 바 세개는 menu, menu::before, menu::after 로 이뤄짐 */
  .menu { 
    display: block;
    position: fixed;
    z-index: 10000;
    width: 35px;
    height: 4px;
    top: 140px;
    right: 6vw;
    transform: rotate(225deg);
    transition: all 200ms;
    transform-origin: center center;
    background: #646464;
  }
  .menu::after {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 4px;
    background: #646464;
    transition: all 200ms;
  }
  .menu::after {
    transform: rotate(90deg);
  }
  
  .menu:hover, 
  .menu:hover::after { background:rgb(150, 150, 150);}
  
  .menu div,
  .menu div label:nth-child(1) {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -6px;
  }
  
  /*동아리중 하나 선택되었을때 페이지 보이는 효과 +연산자는 자식 말고 옆의 연산자 의미*/
  #menu:checked + .container {
    transform: scale(0.65) translateY(-18%);
    transition: all 500ms;
    transform-style: preserve-3d;
  }
  #menu:checked + .container section {
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transform-style: preserve-3d;
  }
  #menu:checked + .container section h1 {
    transform: scale(0.5);
    transform-style: preserve-3d;
  }
  
  #menu:checked + .container + .menu { display: none;}
  #menu:checked + .container + .menu::after { display: none;}
  #menu:checked + .container section .content{ display: none;}
  