@media screen and (max-width:999px){
    .homemenu{
        display: none;
    }
}


@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.headerContainer{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 60px;
    background: none;
    font-family: 'GmarketSansLight';
}
.headerContainer>hr{
    width: 100%;
    z-index: 100;
    color: white;
}
.logo{
    position: absolute;
    left: 2%;
    font-size: 30px;
    top: 25px;
    z-index: 100;
    text-decoration: none;
    font-weight: bold;
    color: rgb(26, 42, 97);
}
.homemenu{
    display:block;
    position: relative;
    top: 30px;
    left: 60%;
    width: 40%;
    height: 30px;
    float: left;
}
.introduction,
.curriculum,
.roadmap,
.club{
    position: flex;
    text-decoration: none;
    color: black;
    margin: 1%;
}

.introduction:hover,
.curriculum:hover,
.roadmap:hover,
.club:hover{
    text-shadow: 0px 4px 4px rgba(41, 38, 31, 0.3);
}

.footer {
    box-sizing: border-box;
    position: relative;
    max-width: 980px;
    justify-content: center;
    bottom: 0;
    border-top: 1px solid #0579fe4d;
    height: 80px;
    padding: 10px;
    background: none;
    overflow: hidden;
}
.footer .footer_center li {
    width: 25%;
    box-sizing: border-box;
    position: relative;
    font-size: 6px;
    color:#0578FE;
    font-weight: bold;
    padding: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    background: none;
}